body {
  background-color: rgb(253, 251, 251);
  font-family: Reggae One, cursive, serif;
  color: rgb(1, 26, 81);
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(126, 163, 241);
  border-bottom: 5px solid rgb(72, 123, 234);
  border-top: 5px solid rgb(72, 123, 234);
  font-size: xx-large;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(1, 26, 81);
  color: rgb(200, 215, 249);
}

main h2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(1, 26, 81);
  color: rgb(126, 163, 241);
}

aside h2 {
  margin-top: 2009px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(126, 163, 241);
  color: rgb(25, 87, 219);
}

figure {
  background-color: rgb(1, 26, 81);
  width: 670px;
  display: inline-block;
  border-radius: 50px;
  height: 700px;
  border: 5px solid rgb(72, 123, 234);
  margin-top: 100px;
}

#minha_foto {
  border-radius: 50%;
  width: 500px;
  margin-top: 25px;
  border: 50px ridge rgb(72, 123, 234);
}

#nav {
  background-color: rgb(200, 215, 249);
}

ul , ol , p {
  display: inline-block;
  text-align: left;
  width: 500px;
}

#aside , article {
  display: inline-block;
}

a {
  text-decoration: none;
}

main {
  width: 60%;
  display: inline-block;
  border: 5px solid rgb(72, 123, 234);
  margin-top: 195px;
  background-color: rgb(200, 215, 249);
}

#aside {
  width: 40%;
  display: inline-block;
  margin-top: 195px;
  border: 5px solid rgb(126, 163, 241);
  color: rgb(200, 215, 249);
  background-color: rgb(1, 26, 81);
}

#main_structure {
  display: flex;
}

p {
  text-align: justify;
}

main p {
  width: 615px;
}

#aside p {
  width: 515px;
}

footer a {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(1, 26, 81);
  color: rgb(200, 215, 249);
  border: 5px solid rgb(72, 123, 234);
}

footer {
  margin-bottom: 50px;
}

footer h2 {
  margin-bottom: 60px;
}

table {
  display: inline-block;
  border: 1px solid rgb(1, 26, 81);
}

th , td {
  border: 1px solid rgb(1, 26, 81);
  padding: 5px;
}

tbody td {
  text-align: left;
}

th {
  background-color: rgb(126, 163, 241);
}
